/* Global Styles */
body {
  background-color: #1a1a1a;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

/* Flex Container for Sidebar and Main Content */
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.intro h1{
  color: rgb(228, 228, 228);
  font-weight: 600;
  font-size: 3.4em;
}

.intro h3{
  color: rgb(186, 186, 186);
  font-weight: 400;
  font-size: 1.4em;
}

.intro p{
  color: #787878;
  width: 60%;
}


.location{
  display: flex;
  justify-content: space-around; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.location1{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}
.location1 .dotted-line-container {
  width: 80%; 
  max-width: 500px; 
}
.dotted-line-container {
  width: 50%; 
  max-width: 500px; 
}


.connect{
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  color: gainsboro;
  justify-content: center;
  align-items: center;
  font-size: 7em;
  font-weight: 600;
  cursor: pointer;
}

.arrows {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: none;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px; 
  
  
}

.arrows i {
  font-size: 1em;
  font-weight: 100;
  opacity: 0.1;
  margin-top: 100px;
  color: #4CE6A6;
  display: none;
}

.connect:hover .arrows{
  
  background: linear-gradient(90deg, #000000d5, #20202039, #000000d5);
  

  
  
}

.connect:hover .arrows i {
  opacity: 1; 
  display: block;
  animation: move-arrow 5s linear infinite;
}

@keyframes move-arrow {
  0% { transform: translate(-50%, -50%) translateX(0); }
  25% { transform: translate(-50%, -50%) translateX(50%); }
  50% { transform: translate(-50%, -50%) translateX(100%); }
  75% { transform: translate(-50%, -50%) translateX(50%); }
  100% { transform: translate(-50%, -50%) translateX(0%); }
}

.loc{
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}

.loc p {
  margin: 0;
  display: flex; 
  align-items: center; 
}

.loc1{
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}

.loc1 p {
  margin: 0; 
  display: flex; 
  align-items: center;
}

.loc1:hover{

  color: #4CE6A6;
  
  cursor: pointer;
  
}

.project_full img{
  width: 100%;
  border-radius: 25px;
}


.loc1 p i{
  transition: transform 0.3s ease-in-out;
}

.loc1:hover p i{
  transform: translateX(-8px);
  
}
.dotted-line {
  height: 4px; 
  width: 100%; 
  background-image: radial-gradient(circle, rgb(137, 137, 137) 1px, transparent 1px);
  background-size: 8px 8px; 
  background-repeat: repeat-x; 
  box-sizing: border-box; 
}


/* Sidebar Styles */
.sidebar {
  background-color: #121212;
  width: 300px; /* Fixed width */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: white;
  min-height: 100vh;
  position: relative;
  flex-shrink: 0; /* Prevent shrinking */
}

.img-thumb {
  width: 100%;
  border-radius: 10%;
  transition: transform 0.3s ease;
}


.img-thumb:hover {
  transform: scale(1.1);
}


.status {
  margin:20px;
  width: 100%;
  height: 40px;
  background-color: #062D1D;
  border-radius: 12px;
  color: #4CE6A6;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 16px; 
}

.status p {
  margin: 0; 
  display: flex; 
  align-items: center;
}

.status i {
  margin-right: 8px;
}
.status i{
  font-size: 0.8em;
  transition: transform 0.3s ease-in-out;
}
.status:hover i{
  transform: translateX(-8px);
}

.clock-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
}

.clock {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 500;
  color: #4CE6A6;
}

.date {
  font-size: 0.8rem;
}


.nav li {
  margin-bottom: 4px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding: 5px;
  position: relative;
  list-style-type: none;
  
}

.nav li a i {
  margin-right: 15px;
}

.nav-link {
  width:'100%';
  display: flex;
  color: rgb(172, 172, 172);
  align-items: center;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav .active {
  background-color: #1f1f1f;
  border-radius: 12px;
  color: white;
  animation: slide-in 0.3s ease-out; 
}

.nav .active .nav-link {
  color: white;
}

.nav-link i {

  margin-right: 10px;
  transition: transform 0.3s ease; 
}

.nav-item:not(.active):hover .nav-link {
  color: #4CE6A6; 
  animation: color-change 0.3s ease; 
}

.nav-item:not(.active):hover .nav-link i {
  transform: scale(1.65); 
  transition: transform 0.3s ease; 
}




/* Main Content Styles */
.main-content {
  flex-grow: 1;
  padding: 40px;
  background-color: #1a1a1a;
  overflow-y: auto;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 36px;
  font-weight: bold;
}

p {
  color: grey;
  font-size: 18px;
}

.dotted-line-container {
  border-bottom: 1px dotted grey;
}

.connect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect .arrows {
  margin-right: 10px;
}

.connect p {
  color: white;
  font-size: 20px;
  margin: 0;
}

/* Footer */
.copyright {
  text-align: center;
  color: gainsboro;
  margin-top: 20px;
  font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .main-content {
    padding: 20px;
  }

  
}
